.app-container {
  height: 100%;
  padding: 75px;
}

.chat-container {
  height: 100%;
}

.messages-container {
  height: 100%;
  background-color: rgba(52, 53, 54, 1);
  padding: 15px 30px;
  border-radius: 8px;  
};